In [1]:
import pandas as pd
import os
import plotly.express as px
import numpy as np 

pd.options.display.max_columns = 99

In [2]:
folder = '../data/clean_data/'
targets = os.listdir(folder)

df = pd.DataFrame()

for target in targets:
    path = f'{folder}{target}'
    df = pd.concat([df,pd.read_csv(path, sep='|', dtype='unicode')])

In [3]:
df.columns

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [4]:
df.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,04/01/2019,Vente,"37220,00",26,NaN,RUE,2730,DE MONTHOLON,1000,BOURG-EN-BRESSE,01,53,NaN,AI,298,NaN,8,"19,27",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,Appartement,NaN,20,1,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,04/01/2019,Vente,"185100,00",22,B,RUE,1650,GEN DELESTRAINT,1000,BOURG-EN-BRESSE,01,53,NaN,AM,95,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,DÃ©pendance,NaN,0,0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,04/01/2019,Vente,"185100,00",22,NaN,RUE,1650,GEN DELESTRAINT,1000,BOURG-EN-BRESSE,01,53,NaN,AM,95,NaN,137,NaN,154,"61,51",NaN,NaN,NaN,NaN,NaN,NaN,2,2,Appartement,NaN,62,3,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,08/01/2019,Vente,"209000,00",3,NaN,RUE,0043,DES CHAMPAGNES,1160,PRIAY,01,314,NaN,E,1676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,Maison,NaN,90,4,S,NaN,940
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,07/01/2019,Vente,"134900,00",5,NaN,LOT,A003,LE BIOLAY,1370,SAINT-ETIENNE-DU-BOIS,01,350,NaN,AA,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,Maison,NaN,101,5,S,NaN,490

In [4]:
vf = df["Valeur fonciere"].astype(str).replace(',','.', regex=True).astype(float).copy()

In [5]:
print(min(vf))
print(max(vf))

0.01
2086000000.0

In [6]:
df = df[df['Nature mutation']=='Vente']
df = df[df['Valeur fonciere']!='nan']

In [7]:
print(min(vf))
print(max(vf))

0.01
2086000000.0

In [8]:
keeped_columns = ['Date mutation', 'Valeur fonciere',
       'Code departement', 'Code commune', 'Nombre de lots', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain']
df = df[keeped_columns]
df.head()

,Date mutation,Valeur fonciere,Code departement,Code commune,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,04/01/2019,"37220,00",01,53,1,Appartement,20,1,NaN,NaN,NaN
1,04/01/2019,"185100,00",01,53,1,DÃ©pendance,0,0,NaN,NaN,NaN
2,04/01/2019,"185100,00",01,53,2,Appartement,62,3,NaN,NaN,NaN
3,08/01/2019,"209000,00",01,314,0,Maison,90,4,S,NaN,940
4,07/01/2019,"134900,00",01,350,0,Maison,101,5,S,NaN,490

In [9]:
int_columns = ['Valeur fonciere','Surface reelle bati', 'Nombre pieces principales', 'Surface terrain']

for col in int_columns:
    df[col] = df[col].astype(str).replace(',','.', regex=True).astype(float)
df

,Date mutation,Valeur fonciere,Code departement,Code commune,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,04/01/2019,37220.0,01,53,1,Appartement,20.0,1.0,NaN,NaN,NaN
1,04/01/2019,185100.0,01,53,1,DÃ©pendance,0.0,0.0,NaN,NaN,NaN
2,04/01/2019,185100.0,01,53,2,Appartement,62.0,3.0,NaN,NaN,NaN
3,08/01/2019,209000.0,01,314,0,Maison,90.0,4.0,S,NaN,940.0
4,07/01/2019,134900.0,01,350,0,Maison,101.0,5.0,S,NaN,490.0
...,...,...,...,...,...,...,...,...,...,...,...
3627122,05/12/2019,17521000.0,75,104,0,Appartement,120.0,5.0,S,NaN,470.0
3627124,30/12/2019,1400000.0,75,102,2,Appartement,97.0,3.0,NaN,NaN,NaN
3627125,30/12/2019,1400000.0,75,102,3,Local industriel. commercial ou assimilÃ©,100.0,0.0,NaN,NaN,NaN
3627127,05/12/2019,370000.0,75,102,2,Local industriel. commercial ou assimilÃ©,47.0,0.0,NaN,NaN,NaN
3627129,26/12/2019,25000.0,75,102,1,Appartement,4.0,1.0,NaN,NaN,NaN

In [10]:
# FILL NA VALUES : Surfaces et nb de piÃ¨ces par 0
cols = ['Surface reelle bati', 'Nombre pieces principales', 'Surface terrain']

for col in cols:
    df[col] = df[col].fillna(0)

In [11]:
# # COLUMNS TO DUMIES
# cols = ['Type local','Nature culture', 'Nature culture speciale']

# df_dummified = pd.get_dummies(df, columns = cols, drop_first=True)

In [12]:
cols_to_explore = ['Nombre de lots',
                    'Nombre pieces principales',
                   'Valeur fonciere']


for col in cols_to_explore:
    df[col] = df[col].replace(',', '.', regex=True).astype(float)

In [13]:
df.to_csv('../data/pre_training_data.csv', index = False, sep = '|')

In [17]:
df[df['Type local']=='Local industriel. commercial ou assimilÃ©'].head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,21/01/2019,Vente,"62500,00",28,NaN,RUE,0001,BERNARD GANGLOFF,1160,PONT-D AIN,01,304,NaN,AM,52,NaN,3,"41,87",9,"45,30",NaN,NaN,NaN,NaN,NaN,NaN,2,4,Local industriel. commercial ou assimilÃ©,NaN,130,0,NaN,NaN,NaN
284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,08/01/2019,Vente,"300000,00",74,A,RUE,0003,DE L EGLISE,1310,POLLIAT,01,301,NaN,AH,134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4,Local industriel. commercial ou assimilÃ©,NaN,9233,0,S,NaN,19009
292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,04/01/2019,Vente,"74400,00",14,NaN,AV,0170,ALPHONSE BAUDIN,1000,BOURG-EN-BRESSE,01,53,NaN,AM,219,NaN,12,NaN,2,"77,58",NaN,NaN,NaN,NaN,NaN,NaN,2,4,Local industriel. commercial ou assimilÃ©,NaN,80,0,NaN,NaN,NaN
299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,11/01/2019,Vente,"198000,00",12,NaN,RUE,2280,DE LA LIBERTE,1000,BOURG-EN-BRESSE,01,53,NaN,AM,151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4,Local industriel. commercial ou assimilÃ©,NaN,112,0,S,NaN,377
322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,18/01/2019,Vente,"490000,00",12,NaN,RUE,0090,DES SERVES,1340,MONTREVEL-EN-BRESSE,01,266,NaN,AI,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4,Local industriel. commercial ou assimilÃ©,NaN,2100,0,S,NaN,2438